.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
}

.header {
    display: flex;
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
}
.header-logo {
    font-family: "Times New Roman", Times, serif;
    font-size: 5rem;
    text-decoration: none;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text {
    align-self: center;
    font-size: large;
}
.header-button {
    background-color: #ebe9e4;
    color: #000000;
    padding: 1rem;
    border: 1px solid #787774;
    border-radius: 5px;
    margin: 1rem 1rem 0 1rem;
}


.button{
    background-color: #ebe9e4;
    color: #000000;
    border: 1px solid #787774;
    border-radius: 5px;
    margin: 1rem 1rem 0 1rem;
}
.header-button:focus,
.header-button:hover {
    background-color: #2d1ed6;
    color: #ebe9e4;
}
.heading {
    font-size: 4em;
    margin: 2rem 0;
}



.pokemon-name {
    font-size: 1.5em;
    font-weight: bold;
}
.action {
    margin: 1rem 0;
}


.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-type{
    background-color: #ebe0e4;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #787774;
    border-radius: 5px;
    width: 80%;
}